/.idea
/20201025_100532.zip
/305
/AngularJS Tutorial
/balanced-trees.zip
/brandle
/Copy of Resume (1).docx
/Copy of Resume.docx.pdf
/Degree Audit - Student Services.html
/Degree Audit - Student Services_files
/designPatterns
/grails
/grails-4.0.11
/graphtheoryexercises.zip
/IT201-Database
/IT207-JS
/IT220-Java2
/LinkedInLearning
/Portfolio
/Practice.iml
/react-essentials
/SDEV301
/SDEV305
/SDEV333
/SDEV334
/src
/Student Information.mhtml
/systems
/typescript
/unofficial transcript.html
/untitled
/untitled1